.media-max-width {
  width: 100%;
  max-width: 720px;
}

.video-wrapper {
  position:relative;
  width:100%;
  height:0px;
  padding-bottom:56.25%;
}

.video {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.right-align{
  text-align:right;
}

.right-padding-30{
  padding-right:30px;
}