extends templates/project

block data
    - const projectName = "Cave"

block description 
    p.
        Cave is scene of a low-poly, procedurally generated cave with a shaft of bright
        sunlight from a hole in the wall to illuminate it. The scene is rendered using
        DirectX 11, based on my earlier project (Immortal). The camera can be controlled
        with first person controls using mouse and keyboard inputs; there is collision
        detection and handling to avoid clipping into the cave walls.
