extends templates/project

block data
    - const projectName = "Cave"

block description 
    +video("cave.mp4")
    br
    p.
        Cave is scene of a low-poly, procedurally generated cave with a shaft of bright
        sunlight from a hole in the wall to illuminate it. The scene is rendered using
        DirectX 11, based on my earlier project (Immortal). The camera can be controlled
        with first person controls using mouse and keyboard inputs; there is collision
        detection and handling to avoid clipping into the cave walls.
    p.
        The cave mesh is generated using a cellular automaton, which acts 
        similarly to Conway's famous <i>Game of Life</i> to produce a pattern of filled 
        and empty cells in a cubic grid. Scalar values are assigned to each grid cell,
        then marching cubes is used to build an approximate isosurface for the mesh.
    p.
        The volumetric lighting in the scene uses a fine "god ray" mesh which is only
        visible when in direct sunlight, computed using a shadow map. The bloom effect 
        is made using a combination of three two-pass box blurs, each performed on a 
        different downsampled version of the original god ray render, as a more efficient 
        way to approximate a wide Gaussian blur.
    p.
        The music featured is a royalty-free track, <i>Zen Garden</i> by Shane Ivers of
        <a href="https://silvermansound.com">silvermansound.com</a>.