extends templates/project

block data
    - const projectName = "Immortal"

block description 
    +video("immortal.mp4")
    br
    p.
        Immortal is a 3D scene of a famous historical chess position, with the board and
        pieces lit by a flickering candle. The candlelight casts shadows which are
        calculated in real time using a shadow map. The scene is rendered using DirectX 11.
    p.
        Meshes are loaded from .obj files and textures from .png files, allowing objects to
        be rendered in the world. Each object also keeps track of its own material, position,
        rotation and scale, while higher level classes deal with different shaders, input
        layouts and other objects that are bound to the graphics pipeline. Music is also
        loaded from a .wav file to play in the background.
    p.
        The scene implements ambient, diffuse and specular lighting (with the Phong reflection
        model) from a single light source, the candle. The candle's position and attenuation
        (constant, linear and quadratic) are varied at each frame on a bounded random walk
        around a fixed centre to give the impression of flickering. A shadow map is used to
        calculate shadows in real time.
    p.
        The music featured is a royalty-free track, <i>The Medieval Banquet</i> by Shane
        Ivers of
        <a href="https://silvermansound.com">silvermansound.com</a>. All 3D models and textures 
        were made by me.