-
    const projects = [
        {
            "name": "Super Crazy Rhythm Castle",
            "date": "2022-2023",
            "hasOwnPage": "true",
            "fileName": "scrc.html",
            "hasGithub": "false",
            "previewVisualType": "youtubeEmbed",
            "youtubeLink": "https://www.youtube.com/embed/fiNxs6CEwQ0?si=OCmbFZ2vnJ_CEvlK",
        },
        {
            "name": "Cave",
            "date": "2021",
            "hasOwnPage": "true",
            "fileName": "cave.html",
            "hasGithub": "true",
            "githubLink": "https://github.com/BrazenHelm/Cave",
            "previewVisualType": "image",
            "imageFilename": "cave.png",
            "previewDescription":
                "A low-poly cave model is procedurally generated using a cellular automaton " +
                "and marching cubes. Post-processing shaders apply a bloom effect and " +
                "volumetric lighting to evoke bright sunlight streaming in. Programmed " +
                "in C++, rendered using DirectX 11.",
        },
        {
            "name": "NEAT Cars",
            "date": "2020",
            "hasOwnPage": "true",
            "fileName": "cars.html",
            "hasGithub": "true",
            "githubLink": "https://github.com/BrazenHelm/Cars",
            "previewVisualType": "image",
            "imageFilename": "cars.png",
            "previewDescription":
                "Cars are driven around a racetrack by an artificial neural network. These " +
                "drivers are optimised using the Neuroevolution of Augmenting Topologies " +
                "(NEAT) algorithm. Programmed in C++, using the SFML library for graphics.",
        },
        {
            "name": "Immortal",
            "date": "2020",
            "hasOwnPage": "true",
            "fileName": "immortal.html",
            "hasGithub": "true",
            "githubLink": "https://github.com/BrazenHelm/Immortal",
            "previewVisualType": "image",
            "imageFilename": "immortal.png",
            "previewDescription":
                "A low-poly scene of a famous chess position is lit by a single flickering " +
                "candle. Real-time shadows are calculated using a shadow map. Programmed in " +
                "C++, rendered using DirectX 11.",
        },
        {
            "name": "Starmap",
            "date": "2019",
            "hasOwnPage": "false",
            "previewVisualType": "image",
            "hasGithub": "false",
            "imageFilename": "starmap.png",
            "previewDescription":
                "Designed as a tool for pen and paper RPGs in science fiction settings, " +
                "Starmap is a 3D \"world map\" application to represent the stars and " +
                "planets in a part of a galaxy. Programmed in C# using the Unity engine.",
        },
    ]