extends layout

block title 
    title= "Portfolio - Stephen Jones - " + projectName

block content 
    include ../data/projects
    include ../includes/utils

    h1= projectName

    block description
        p empty project description

    p.right-align
        each project in projects
            if project.name == projectName && project.hasGithub == "true"
                span.right-padding-30
                    a(href=`${project.githubLink}`) GitHub
        span
            a(href="index.html") Back to main page
        