<!DOCTYPE html >
<html lang="en">
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Portfolio | Stephen Jones | undefined</title>
  </head>
  <body> 
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Stephen Jones </h3>
          <p>I'm an experienced games programmer, specialising in C# and the Unity engine.</p>
          <p><b>Junior Programmer for 2 years</b><br/><i>Second Impact Games</i><br/>Part of the team behind <i>Super Crazy Rhythm Castle</i></p>
          <p><b>MSc Computer Games Technology, Distinction</b><br/><i>Abertay University</i><br/>Won the Andrew De Vries Memorial Prize for outstanding performance</p>
          <p><b>BA Mathematics, 2.2</b><br/><i>St John's College, University of Cambridge</i></p>
          <p>stephenaidanjones@gmail.com</p>
        </div>
        <div class="col-md-8">
          <h1></h1>
          <p>empty project description</p>
          <p><a href="index.html">Back to main page</a></p>
        </div>
      </div>
    </div>
  </body>
</html>