extends layout

block title 
    title= "Portfolio - Stephen Jones - " + projectName

block content 
    include ../data/projects
    include ../includes/utils

    h1= projectName

    block description
        p empty project description

    p(align="right")
        a(href="index.html") Back to main page