extends layout

block title 
    title= "Portfolio | Stephen Jones | " + projectName

block content 
    include ../data/projects
    include ../utils

    h1= projectName

    each project in projects 
        if project.name == projectName
            +previewVisual(project)

    block description
        p empty project description

    p
        a(href="index.html") Back to main page