p
    | From the past two years I have been working full-time at 
    a(href="https://www.secondimpactgames.com/")
        i Second Impact Games
    | . Our main project was 
    a(href="https://www.secondimpactgames.com/scrc.html")
        i Super Crazy Rhythm Castle
    | , the chaotic musical adventure (released November 2023). As a member of
    | a very small studio I got to work on many different parts of the game, 
    | including as the primary programmer for
    ul 
        li Network code on PS4 and PS5
        li Gameplay programming in levels <i>The Vault</i>, <i>The Thief Prince</i> and <i>The Game Garage</i>
        li The localisation system, including handling of non-Latin fonts and audit tools
        li Steam achievements and stats
        li Displaying appropriate gamepad and keyboard prompts for user input on all platforms
    | The game was programmed in C# using the Unity Engine.