h3 Stephen Jones 
p I'm an experienced games programmer, specialising in C# and the Unity engine.
p
    b Junior Programmer for 2 years
    br
    i Second Impact Games
    br 
    | Part of the team behind <a href="https://www.secondimpactgames.com/scrc.html"><i>Super Crazy Rhythm Castle</i></a>
p
    b MSc Computer Games Technology, Distinction
    br
    i Abertay University
    br
    | Won the Andrew De Vries Memorial Prize for outstanding performance
p
    b BA Mathematics, 2.2
    br
    i St John's College, University of Cambridge
p stephenaidanjones@gmail.com